<div id="layout_body">

  <div id="layout_buscar">
    <input type="text"  placeholder=" Buscar "
        [value]="strmusic" (change)="changeFn($event)"
    />
    <button id="boton_ir" (click)="buscar()">buscar</button>
  </div>



  <div id="video-Detalle">
      <div id="Vector">
          <img id="img_vector" src={{auxcancion.picture_small}}/>
      </div>
      <div id="div_descripcion" [style.backgroundImage]="'url(' + auxcancion.artista.picture">
          <p id="txt_titulo">{{auxcancion.artista.nombre}}</p>
          <p id="txt_titulo_descripcion">Lo mejor de {{auxcancion.artista.nombre}}</p>
          <p id="txt_seguidores">0 seguidores</p>
          <p id="txt_descripcion">{{auxcancion.artista.nombre}}​</p>

          <div id=layout_botones_y_adornos>
            <button id="boton_generico" (click)="reproducir()">
              <span id="texto">
                Reproducir
              </span>
            </button>

            <button id="boton_seguir">
              <span id="texto_seguir">
                Seguir
              </span>
           </button>

            <div id="icons-elipse">
              <i id="elipse_1"></i>
              <i id="elipse_2"></i>
              <i id="elipse_3"></i>
            </div>
          </div>
      </div>

  </div>

  <p id="lbl_resultados">Resultados</p>


   <ng-container *ngIf="Data">
     <div id="layout_card">
      <ng-container *ngFor="let resp of Data" >
        <div id="layout_datos">
          <img id="imagen_card" src={{resp.picture_small}} alt="Card image cap" (click)="evento_imagen(resp)">
          <p id="txt_nombre_cancion">
              {{resp.nombre | uppercase }}
          </p>
          <p id="txt_artista">
               {{resp.artista.nombre}}
          </p>
        </div>
      </ng-container>
     </div>

   </ng-container>


</div>




<div id="reproductor">
    <img id="img_cancion" src={{auxcancion.picture_small}}/>
    <div id="rect_rojo">

      <div class="container">
        <button id="atras" (click)="atras()">
          <img  [style.backgroundImage]="'url(assets/atras.png)'" [style.width.px]="60" [style.height.px]="60"/>
        </button>
        <button id="ctrlCancionAtras" class="btnAudio" (click)="reproducir()">
          <img *ngIf="playAudio" [style.backgroundImage]="'url(assets/pause.png)'" [style.width.px]="60" [style.height.px]="60"
          />
          <img *ngIf="!playAudio" [style.backgroundImage]="'url(assets/play.png)'" [style.width.px]="60" [style.height.px]="60"
          />
        </button>
        <button id="adelante" (click)="adelante()">
          <img [style.backgroundImage]="'url(assets/adelante.png)'" [style.width.px]="60" [style.height.px]="60"/>
        </button>
        <mat-slider [(ngModel)]="value" (input)="onInputChange($event)" min=0 max=100></mat-slider>
        <button id="silenc" (click)="silenc()">
          <img *ngIf="silent" [style.backgroundImage]="'url(assets/silencio.png)'" [style.width.px]="60" [style.height.px]="60"/>
          <img *ngIf="!silent" [style.backgroundImage]="'url(assets/nosilencio.png)'" [style.width.px]="60" [style.height.px]="60"/>
        </button>
        <!--select class="btnAudio" id="desplegable" [(ngModel)]="music">
          <option [value]=null>Selecciona el beat</option>
          <option *ngFor="let music of Data" [ngValue]="music.track">{{music.nombre}}</option>
        </select-->
      </div>

    </div>
  </div>
